@charset "UTF-8";
:root{
    --header-height:64px;
}

html{
    font-size: 100%;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    scroll-behavior: smooth !important;
}


img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

body{
    padding-top: 0;
}

