.home_hero{
  height: 80vh;
  background: url("../images/top.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  background-color: aquamarine;
}

.home{
  padding-top: var(--header-height);
}

.home h2::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0.15em;
  width: 6px;
  height: 1.2em;
  background: linear-gradient(180deg, #ff60df, #f2ff00);
  border-radius: 2px;
}

.home h2{
  position: relative;
  font-size: 3rem;
  padding-left: 16px;
  margin-bottom: 20px;
  text-align: left;
}

.fadein{
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity .5s ease, transform .5s ease;
}

.fadein.is-show{
  opacity: 1;
  transform: translateX(0);
}

.home_about{
  margin: 0px 60px 0px;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 16px 100px;
  scroll-margin-top: var(--header-height);
}

.role{
  font-size: 1.5rem;
  color: #666;
  margin-right: 2rem;
}

.professor-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0px 10px;
  position: relative;
  padding-bottom: 0px;
}

.professor-detail{
  font-size: 1rem;
  padding: 15px 40px 15px;
}

.professor-photo{
  width: 100%;
  max-width: 300px;
  justify-self: end;
}

.professor-orcid{
  margin-top: 20px;
}

.professor-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  align-items: start;
}

.professor-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, #ff60df, #f2ff00);
}

.member-image {
  margin-bottom: 60px;
}

.member-grid {
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.member-card {
  padding: 0px;
  background: #fff;
}

.B4{
  margin: 40px 0px 0px;
}

.B4 h3 {
  position: relative;
}

.B4 h3::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 2px;
  background: linear-gradient(90deg, #ff60df, #f2ff00);
}


.member-name {
  font-size: 1.5rem;
  margin: 0px 0px 0px;
}

.member-affiliation {
  margin: 0;
  color: #666;
  font-size: 1.2rem;
}

.home_news li{
  list-style: none;
  padding:0;
}
